<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Prueba4"
        tools:targetApi="31">
        <activity
            android:name=".RankingActivity"
            android:exported="false"
            android:label="@string/title_activity_ranking"
            android:theme="@style/Theme.Prueba4" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/Theme.Prueba4" />
        <activity
            android:name=".SupabaseActivity"
            android:exported="false"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/Theme.Prueba4" />
        <activity
            android:name=".SignInActivity"
            android:exported="false"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/Theme.Prueba4" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Prueba4" />
        <activity
            android:name=".tutoriales_derivadas.TutDer5Activity"
            android:exported="false" />
        <activity
            android:name=".tutoriales_derivadas.TutDer8Activity"
            android:exported="false" />
        <activity
            android:name=".tutoriales_derivadas.TutDer7Activity"
            android:exported="false" />
        <activity
            android:name=".tutoriales_derivadas.TutDer3Activity"
            android:exported="false" />
        <activity
            android:name=".tutoriales_derivadas.TutDer6Activity"
            android:exported="false" />
        <activity
            android:name=".tutoriales_derivadas.TutDer2Activity"
            android:exported="false" />
        <activity
            android:name=".tutoriales_derivadas.TutDer4Activity"
            android:exported="false" />
        <activity
            android:name=".tutoriales_derivadas.TutDer1Activity"
            android:exported="false" />
        <activity
            android:name=".tutoriales_limites.TutLim5Activity"
            android:exported="false" />
        <activity
            android:name=".tutoriales_limites.TutLim6Activity"
            android:exported="false" />
        <activity
            android:name=".tutoriales_limites.TutLim4Activity"
            android:exported="false" />
        <activity
            android:name=".tutoriales_limites.TutLim2Activity"
            android:exported="false" />
        <activity
            android:name=".tutoriales_limites.TutLim3Activity"
            android:exported="false" />
        <activity
            android:name=".tutoriales_limites.TutLim1Activity"
            android:exported="false" />
        <activity
            android:name=".QuestionActivity"
            android:exported="false" />
        <activity
            android:name=".LevelsDerivatesActivity"
            android:exported="false" />
        <activity
            android:name=".LevelsLimitsActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>